.projects-container {
    display: flex;
}

.projects-container h3 {
    margin-top: 1rem;
}

.instructions {
    display: flex;
    flex-direction: column;
}

.instructions input {
    margin: 0;
}

.input-container {
    display: flex;
    justify-content: center;
    margin: 1rem 0 0.5rem 0;
}

#loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 0.6rem;
    height: 0.6rem;
    margin-left: 0.5rem;
    animation: spin 2s linear infinite;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.graphic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
}

.row svg {
    height: 2.5rem;
    width: 2.5rem;
    margin: 0.5rem;
}

.row svg foreignObject {
    height: inherit;
    width: inherit;
    background-color: white;
}

.row svg foreignObject div {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* large screens */
@media only screen and (min-width: 600px) {
    .projects-container {
        align-items: stretch;
    }

    .instructions {
        align-items: flex-start;
        margin-right: 10rem;
    }

    .instructions input {
        width: 20rem;
    }
}

/* small screens */
@media only screen and (max-width: 600px) {
    .projects-container {
        flex-direction: column;
        align-items: center;
    }

    .instructions {
        align-items: center;
    }
    
}